
/*HOME*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
}

::selection{
    background: #1b1b1b;
    color: #fff;
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* set the height of the footer as needed */
    background-color: #f2f2f2; /* set the background color of the footer as needed */
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-link {
    margin: 0 10px;
    font-size: 16px;
    text-decoration: none;
    color: #333; /* set the font color of the links as needed */
}

.footer-link:hover{
    transition-duration: 0.3s;
    color: white;
}

.terms-service-link{
    text-decoration: none;
    color: white;
}

/*ROLLING BOX*/
.Words {
    margin: 0 auto;
    padding: 80px 0;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 68px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
  }

  .Words-line {
    height: 50px;
    overflow: hidden;
    position: relative;
  }
  
  .Words-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(.66667);
  }
  
  .Words-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.33333);
  }
  
  /*
  ** Apply an offset to each line of text
  */
  .Words-line:nth-child(1) {
    left: 29px;
  }
  
  .Words-line:nth-child(2) {
    left: 58px;
  }
  
  .Words-line:nth-child(3) {
    left: 87px;
  }
  
  .Words-line:nth-child(4) {
    left: 116px;
  }
  
  .Words-line:nth-child(5) {
    left: 145px;
  }
  
  .Words-line:nth-child(6) {
    left: 174px;
  }
  
  /*
  ** Fine-grained text styles
  */
  p {
    height: 50px;
    line-height: 45px;
    padding: 0 10px;
    transition: all .4s ease-in-out;
    transform: translate3d(0, 0, 0);
    vertical-align: top;
    white-space: nowrap;
    color: white;
  }
  
  /*
  ** The hover interaction
  */
  .Words:hover p {
    transform: translate3d(0, -50px, 0);
  }

.upper-view {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* add your other styles here */
}

.main{
  padding-top: 750px;
  padding-bottom: 200px;
}

h3 {
  margin: 0 20%;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  h3 {
    margin: 10%;
  }
}

h3{
  padding-top: 20px;
  color: white;
}

body{
  background-image: url("https://media.newyorker.com/photos/628d2a485ffc2a133c607721/master/w_2560%2Cc_limit/Cassidy-Stock-Market.jpg");
  background-size: cover;
  backdrop-filter: blur(10px);
  background-color:rgba(0, 0, 0, 0.1);
}